
#create1daytripcontent{
    background-color: #ffffff;

}

div#myrount {
    vertical-align: middle;
    font-size: 1.3em;
    text-align: center;
    padding-top: 0.42em;
     /* position: fixed;  */
}
div#create1daytripnext {
    vertical-align: right;
    font-size:1em;
    text-align: right;
    padding-top: 1em;
    /* position: fixed; */
}

#create1daytripconnent{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding-top: 0em;
    margin-top: 0em;
    text-align: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
#contentapp{
    padding-bottom: 0em;
    padding-top: 1.7em;
}
.mb-5, .my-5 {
    margin-bottom: 0rem!important;
}

input[type="text"] {
    margin-top: 1.7em;
    width: 70%;
    border: 0px solid #aaa;
    border-radius: 4px;
    background-color: #EAEAEA;
    outline: none;
    font-size: 1em;
    box-sizing: border-box;
    transition: 0.3s;
    height: 3em;
    border-radius: 10px;

}

img#picyoucreate {
    padding-top: 50%;
}

img#choosedate {
    padding-top: 1em;
}

.navbar{
    /* display: none; */
}