#artway{
    color: white !important;
    font-weight: bold;
    font-size: 1.5em;


}
.container{
    text-align: center !important;
    justify-content: center !important;
    justify-self: center !important;
    justify-items: center !important;
}
.navbar-inner{
    background-color: #052238;

}

.navbar {
    /* position: relative; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}


footer{
    background-color: #052238;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    height: auto;
}


#icon1{
    padding-left: 1em;
}

footer{
    color: white;
}

#iconmiddle{
    width: 4em;
    height: 4em;
}
#xxx{
    position: fixed;
    bottom: 5em;
    right: 1em;
    z-index: 1;
}

#iconpicture{
    display: inline-block;
    vertical-align:middle !important; 
    text-align:center !important;
}

#iconpicture{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 10px; 
    color: green; 
    min-width: 50px; 
    text-align: center; 
} 
div#footernav {
    margin-top: 2em;
}
div#rownav {
margin-bottom: 2em
}
div#header {
    position: sticky;
    z-index: 3;
    top: 0;
    width: 100%;
}