
.list-group-item{
    font-size: 1.3em;
}

#iconadd{
    align-self: center;
     text-align: center;
    justify-content: center;
    margin-right: 0px;
    vertical-align: middle;
}
span{


}

#icon{
    text-align: right;
}
i{
    align-self: center;
     text-align: right;
    justify-content: right;
    margin-right: 0px;
    vertical-align: middle;
}

#item{
    
    font-weight: bold;
}

#Adventure1, #Adventure2, #Adventure3, #Adventure4, #Adventure5{
    background-color: hsl(0, 0%, 92%);
    display:none  !important;   


}
#Shopping1, #Shopping2, #Shopping3, #Shopping4, #Shopping5
{
    background-color: #EAEAEA;
     display:none !important;  
     
}
#Party1, #Party2, #Party3, #Party4, #Party5 {

    background-color: #EAEAEA;
     display:none !important;  
}
#Foodle1,#Foodle2,#Foodle3,#Foodle4,#Foodle5,#Foodle6{
    background-color: #EAEAEA;
     display:none !important;  
}
#Art1, #Art2, #Art3, #Art4, #Art5{
    background-color: #EAEAEA;
    display:none !important;  
}
#Festival1, #Festival2, #Festival3, #Festival4{
    background-color: #EAEAEA;
     display:none !important;  
}
#Experience1, #Experience2, #Experience3, #Experience4, #Experience5, #Experience6{
    background-color: #EAEAEA;
     display:none !important;  
}

#Nature1,#Nature2,#Nature3,#Nature4,#Nature5,#Nature6{
    background-color: #EAEAEA;
     display:none !important;  
}

 #next{

}

#back{
    align-items: left;
    justify-content: left;
    align-self: left;
    text-align: left;
    vertical-align: left;
}

#nav{

    align-items: left;
    justify-content: left;
    align-self: left;
    text-align: left;
    vertical-align: left;
    font-weight: bold;
}

#next{
    width: 85%;
    align-items: right;
    justify-content: right;
    align-self: right;
    text-align: right;
    vertical-align: right;
    font-size: 2em;
    font-weight: bold;
    color: black;
}
nav{
    background-color: white !important;
    height: 30px;
    box-shadow: 0 4px 8px 0 rgba(168, 168, 168, 0.2), 0 6px 20px 0 rgba(168, 168, 168, 0.19);
}

.navbar-inner {
    height: 7.5em;  
}
.label:empty{
    display:none;
  }

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}