
body{
    background-color: #BDC2C4 !important;
    height: 100%;
}

#artway{
    color: white !important;
    font-weight: bold;
    font-size: 1.5em;


}
#picture{
    justify-content: left;
    justify-content: center;
    align-content: left;
}
#name{
    color: black !important;
    text-align: left;
    /* background: black; */
}

#picturecontent1{
    margin: auto;
    padding-bottom: 2em;
    width: 100%;
}

#story{
    color: black;
    text-align: left;
    font-size: 0.7em;
    /* margin-left: -15px; */
}
#title{
    color: black !important;
    font-weight: bold;
    text-align: left;

}

#like{
    color: black;
}
#comment{
    color: black;
}
#share{
    color: black;
}
#countlike{
    color: black;
    text-align: left;
}

span{
    font-weight: bold;
}
#icontab{
    padding-top: 0.7em;
}
#content{
    /* padding-bottom: 0em !important; */
     padding-top: 1em;  
}

#card{
    border: 0px solid white;
    border-radius: 10px;
    background-color: white;
    
}
#card {
    position: relative;

    padding: 1em 1.5em;
    /* margin: 2em auto; */
    color: #fff;
    border: 0px solid white;
    border-radius: 10px;
    background-color: white;
  }
/* #harf:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid red;
    width: 20px;
    height: 20px;
    border-color: #BDC2C4  #BDC2C4 white white;
    border-radius: 0px 10px 0px 10px;
    background: linear-gradient(45deg, #ffffff 50%, #BDC2C4 50%);
    box-shadow: -3px 3px 3px -1px #888888;
   
  }
  #harf-2:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid red;
    width: 20px;
    height: 20px;
    border-color: #052238  #052238 white white;
    border-radius: 0px 10px 0px 10px;
    background: linear-gradient(45deg, #ffffff 50%, #052238 50%); 
    box-shadow: -3px 3px 3px -1px #888888;
  
  } */
.container{
    text-align: center !important;
    justify-content: center !important;
    justify-self: center !important;
    justify-items: center !important;
}
.navbar-inner{
    background-color: #052238;

}

footer{
    background-color: #052238;

}


#icon1{
    padding-left: 1em;
}

footer{
    color: white;
}

#iconmiddle{
    /* width: 4em;
    height: 4em;
    position: relative;
    bottom: 1.5em; */
}

#xxx{
    position: fixed;
    bottom: 5em;
    right: 1em;
    z-index: 1;
}

#iconpicture{
    display: inline-block;
    vertical-align:middle !important; 
    text-align:center !important;
}

#iconpicture{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#suggested{
    background-color: #052238;
    width: 100%;
    margin-top: 1em !important;  
}

#contentsuggested{
    background-color: #052238;
}
#titlesugess{
    color: white;
    padding-top: 1em;
    padding-left: 0.5em;
}
#contenbackgroud{
    background-image: url("../assets/tab2/Mask Group 52.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
    padding-bottom: 1em;
}

#profilesugess{
    padding-top: 1em;
    padding-left: 1em;
    margin-bottom: 1em;
    color: white !important;
}

#sugess-card{
    padding-bottom: 1.2em;

}
#pin{
    text-align: right;
}

#storesugess{
    position: relative;
    padding-top: 30%;
    font-size: 23px !important;
    color: white !important;

}
img#word {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.2em;
}
div#tab2pic1 {
    position: inherit;
    top: 0;
}
div#tab2pic2 {
    position: inherit;
    top: 0;
}
div#tab2pic3 {
    position: inherit;
    top: 0;
}
div#tab2pic4 {
    position: inherit;
    top: 0;
}
div#tab2pic5 {
    position: inherit;
    top: 0;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    /* border-radius: 20px,20px,0px,0px !important; */
}

#modal-create-bord{
    height: 50%;
    justify-content: center;
}
.modal-dialog {
    position:fixed;
    top:auto;
    right:auto;
    left:auto;
    bottom:0;
    width: 100%;
    margin-left: 1px;

  }

  #selectpicture{
    margin-left: 1em;
    margin-bottom: 1em;
  } 
  #inputbordname{
    font-size: 1em;
    width: 90%;
    text-align: center;
    margin-top: 3.5em;
    margin-bottom: 17em;
    top: auto;
    left: 0;
    right: 0;
    justify-self: end;
    border-radius: 15px;
}

input[type="text"] {
    width: 100%;
    border: 0px solid #aaa;
    border-radius: 4px;
    background-color: #EAEAEA;
    outline: none;
    font-size: 0.7em;
    box-sizing: border-box;
    transition: 0.3s;
    height: 3em;
  }
  #iconmiddle {
    width: 4em;
    height: 4em;
    display: none;
}